.details-box{
	padding: 20px;
}
.details-box a:hover{
	color:#980202;
}
.details-box .details-1{
	overflow: hidden;
	border-bottom: 1px solid #f3f3f3;
}
.details-box .details-1 dt{
	font-size: 16px;
	line-height: 38px;
	color: #000;
	background: url(../images/xq-back.png) no-repeat 0px 16px;
	padding-left:20px; 
}
.details-box .details-1 dd{
	font-size: 14px;
	line-height: 38px;
	color: #666;
	float: left;
	margin-right: 45px;
	padding-left:20px; 

}
.details-box{
	margin-bottom: 150px;
}
.details-cbox{
	margin-bottom: 50px;
}
.details-cbox img{
	width:78px;
	height: 105px;
	float: left;
}
.details-cbox ul{
	float: left;
	padding-left: 40px;
	line-height: 24px;
	padding-top: 20px;
	color:#6a6a6a;
	padding-bottom: 20px;
}
#directory div .on{
	background: url(../images/zwgk4.png)no-repeat;
}
